.top-content {
  padding: 12px;
  margin-bottom: 24px;
  &__catchphrase {
    text-align: center;
    margin: 24px 0;
    font-size: 24px;
    font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "メイリオ",
      Meiryo, "ＭＳ Ｐゴシック", sans-serif;
  }
  &__description {
    text-align: center;
    font-size: 12px;
    color: rgba(black, 0.5);
  }
}
