<mat-card class="mypage-card">
  <mat-card-header>
    <div mat-card-avatar class="profile-image"></div>
    <mat-card-title>user name</mat-card-title>
    <mat-card-subtitle>エンジニア</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>
      Angular ✖️ Firebaseの学習をつみあげます！
    </p>
  </mat-card-content>
</mat-card>
<mat-tab-group class="tab-group">
  <mat-tab label="最近の投稿">
    <app-latest-post
      class="latest-post"
      [post]="post"
      *ngFor="let post of posts$ | async"
    ></app-latest-post>
  </mat-tab>
  <mat-tab label="月別"></mat-tab>
</mat-tab-group>
